html,body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    background: url('../images/background/login-background.png') no-repeat;
}
#loadingSpinner {
    position: fixed;
    top: 45%;
    left: 45%;
    z-index: 2;
    margin-top: -20px;
}
